In [1]:
import pandas as pd

In [10]:
leitura = pd.read_csv('data/soc-sign-bitcoinotc.csv')
filter_leitura = leitura.query('Evaluation >= 8')

       Source  Target  Evaluation
3          13      16           8
4          13      10           8
9          21       1           8
10         21      10           8
11         21       8           9
15         10       1           8
17         10      21           8
19         10      25          10
40         13       1           8
51          1      17           9
59         17       1           9
104        61      20           8
120        71       1           8
238       119       1          10
251       119     127          10
253         1       2           8
275       127     119          10
330         2       3           8
410         1       7           9
540         2       1           8
653        39       2           8
677        33       1           8
694       237     202          10
704         2      62           8
745        80      81           8
791        60     257          10
845       149      25          10
886       279      60           8
895       283     284          10
914       284     283          10
...       ...     ...         ...
34207    5648    3986           8
34236    3649    3429           8
34369    3903    1352          10
34416    5862    5859          10
34518     215    5422           8
34557    4553    4291           8
34694    5507    5896          10
34696    5896    5507          10
34701    5899    5439          10
34706    5890      35           8
34736    5411    4649          10
34890       2    5929           8
34893    4649    5411          10
34907    1819    1810           9
34949    3345    4649           8
35132    5955    5958          10
35133    5958    5955          10
35168    4163    2067          10
35171    3903    1810          10
35179    5963    2045          10
35284    2073    5971          10
35285    5971    5960          10
35312    1565      57           8
35394    3804    2388          10
35409    4004    5845          10
35421    5956    5227           8
35519    5999    3878           8
35525    2045      33           9
35526      33    2045           9
35533    3714     481          10

[1150 rows x 3 columns]